<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>902FA9FB1E6BBAA2007C0DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>902FAA121E6BBAA3007C0DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>902FAA1D1E6BBAA3007C0DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
